# Build artifacts
/build/
/dist/
/build-macos/
/dist-macos/
/dist-rpi/
/build-rpi/
/CMakeFiles/
/CMakeCache.txt
/*.user
/*.vcxproj*
/*.sln
/*.obj
/*.pdb
/*.exe
/*.log
/processing.log
/last_error.log

# Qt Creator
*.pro.user*

# macOS
.DS_Store

# Windows
Thumbs.db
/tests/*
/LibRaw/
/samples
/.venv/
/.git-safe-config
